*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.logo{
    
    width: 150px;
    height: 80px;
    margin-top: -10px;

    
}



.navbar-brand>img {
     display: block; 
    color: black;
    width: 20px;
} 
.navbar-brand{
float: left;
height: 70px;
padding: 15px 15px;
font-size: 18px;
line-height: 20px;
}
.navbar-nav li{
    padding-left: 50px;
}
.navbar-nav li .active a{
    color: red;
}
.nav-item a:hover{
    color: red;
    text-decoration: underline;
}

.navbar{
    
    box-shadow: 0 10px 16px rgb(77, 69, 69);

}
.container{
    
    color: black;

   
}



.img-responsive{
    
    background-color:#FFE5CC
}
.a-text{
    display: inline;
    color: aliceblue;
    
     background-color: cornflowerblue
}

.product-name{
    text-decoration: none;
    background-color: cornflowerblue;
    color: aliceblue;
    
}
.product-name:hover{
    background-color: red;
}
#viewbtn:hover{
    background-color: cornflowerblue;
    
}
#viewbtn{
    background-color: red;
    
}

.col-lg-7, .col-md-7{
    padding-top: 150px;
    padding-left: 40px;
    
}

.col-lg-5 ,.col-md-5{
    padding-top: 150px;

}
#viewbtn2:hover{
    background-color: cornflowerblue;
    
}
#viewbtn2{
    background-color: red;
    
}
 .welimg{
    border-radius: 100%;


}